[Unit]
Description=Time Synchronization Client Timer
[Timer]
OnUnitActiveSec=1h
OnActiveSec=1h
Unit=clockd-client.service
[Install]
WantedBy=time-sync.target
