[Unit]
Description=Time Synchronization Client
[Service]
Type=oneshot
ExecStart='/usr/local/bin/clockd -S -c $(cat /etc/clockd.txt)' 
[Install]
WantedBy=time-sync.target
